main {
  margin: 15px;
  padding: 15px;
  border: 2mm solid#701255;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "l n"
    "a a"
    "t s"
    "c c"
}
.logo {
  grid-area: l;
}
.name {
  grid-area: n;
  position: absolute;
  top: 100px;
  margin: auto 0;
  margin-left: 300px;
  letter-spacing: 5px;
  width: 15;
  /* border-bottom: 9px solid #fcc300; */
}
.about {
  grid-area: a;
}
.terms {
  grid-area: t;
  border: 1mm solid#701255;
  margin: 15px;
  padding: 15px;
  align-content: center;
 }
.start {
  grid-area: s;
  border: 1mm solid#701255;
  margin: 15px;
  padding: 15px;
  align-content: center;
}
.contact {
  grid-area: c;
  border: 1mm solid#701255;
  margin: 15px;
  padding: 15px;
  text-align: center;
  }
.orange {
  color: #fcc300;
  text-align: center;
  font-size: 29px;
}
.http {
  margin: 15px;
  padding: 15px;
}
h1 {
  margin: 0px;
  color: #5B1A8E;
  font-size: 36px;
  text-align: center;
}
h2 {
  font-size: 30px;
}
  h2,h4 {
    text-align: center;
          
  }
  
  h2 {
    color: #fcc300;
    font-size: 24px;
    text-decoration: underline;
       
  }
  
  h4 {
    color: #fcc300;
    text-decoration: underline;
    letter-spacing: 2px;
    font-size: 24px;
  }
   
  ul {
      margin-left: auto;
      margin-right: auto;
      width: 27em;
  }
  .statements {
    list-style-type: "\1F4CC";
  }
  .lessons {
    list-style-type: "\2713";
  }
  li {
    font-size: 20px;
  }